<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>@ViewBag.Title - Welcome to Badminton Buddy</title>
    <meta name="Description" content="@ViewBag.MetaDescription" />
    <meta name="Keywords" content="@ViewBag.MetaKeywords" />
    @Styles.Render("//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/cosmo/bootstrap.min.css")
    @Styles.Render("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
    @Styles.Render("~/Content/bb/Site")
</head>
<body itemscope itemtype="http://schema.org/WebPage" class="padtop70">
    <!-- Navigation -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">    
        <div class="container navcont">    
            <div class="nav-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menunav">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.badmintonbuddy.com">BadmintonBuddy</a>
                <!-- Responsive Search Bar  -->
                <span class="input-group-btn">
                    <button type="button" class="navbar-toggle btn btn-primary btn-small searchtoggle"
                        data-toggle="collapse" data-target="#searchnav">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                <div class="collapse navbar-collapse" id="searchnav">
                    @using (Html.BeginForm("Search", "Badminton", FormMethod.Get, new { @class = "form-inline", @role = "form" }))
                    { 
                        <div class="input-group width100">
                            <input class="form-control" type="search" name="q" placeholder="Search badminton courts by Location or Name">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-small">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    }
                </div>

                <div class="collapse navbar-collapse" id="menunav">
                    <ul class="nav navbar-nav">
                        @Html.MenuLink("Home", "Home", "Badminton")
                        @Html.MenuLink("Browse Courts", "Courts", "Badminton")                                                
                    </ul>
                </div>
            </div>
            </div>
        
    </div>
    <!-- Content -->
    <div class="content">
        @RenderBody()
    </div>
    <!-- Footer -->
    <div class="footer width100">
    <div class="container">
    <a href="/About">About BadmintonBuddy</a>
    </div>
    @Scripts.Render("//code.jquery.com/jquery.min.js")
    @Styles.Render("//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.2.1/bootstrap-social.min.css")        
    @Scripts.Render("//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")    
    @Scripts.Render("~/Scripts/bb/main")
    @RenderSection("Scripts", required: false)
        @if (!HttpContext.Current.IsDebuggingEnabled)
        {
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-1817995-3', 'auto');
            ga('send', 'pageview');

        </script>
        }
    </div>
</body>
</html>
