@model BadmintonBuddy.Models.ClubViewModel

@{
    ViewBag.Title = "AddClub";
}

<div class="container">
<h2>AddClub</h2>
<div class="row">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ClubViewModel</legend>
        <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.Club.ClubName)
        </div>
        <div class="editor-field col-xs-6">
            @Html.TextBoxFor(model => model.Club.ClubName,  new{ @class="form-control" })
            @Html.ValidationMessageFor(model => model.Club.ClubName)
        </div>
        </div>
        <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.Club.Address)
        </div>
        <div class="editor-field col-xs-6">
            @Html.TextAreaFor(model => model.Club.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Club.Address)
        </div>
        </div>

        <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.Club.Area)
        </div>
        <div class="editor-field col-xs-6">
            @Html.TextBoxFor(model => model.Club.Area, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Club.Area)
        </div>
        </div>

        <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.Club.ContactNo)
        </div>
        <div class="editor-field col-xs-6">
            @Html.TextBoxFor(model => model.Club.ContactNo, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Club.ContactNo)
        </div>
        </div>

        <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.Club.SurfaceID)
        </div>
        <div class="editor-field col-xs-6">
            @Html.EditorFor(model => model.Club.SurfaceID)
            @Html.ValidationMessageFor(model => model.Club.SurfaceID)
        </div>
        </div>

        <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.Club.Timings)
        </div>
        <div class="editor-field col-xs-6">
            @Html.TextBoxFor(model => model.Club.Timings, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Club.Timings)
        </div>
        </div>

        <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.Club.Fees)
        </div>
        <div class="editor-field col-xs-6">
            @Html.TextBoxFor(model => model.Club.Fees, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Club.Fees)
        </div>
        </div>

        <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.Club.Website)
        </div>
        <div class="editor-field col-xs-6">
            @Html.TextBoxFor(model => model.Club.Website, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Club.Website)
        </div>
        </div>

        <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.Club.NoOfCourts)
        </div>
        <div class="editor-field col-xs-6">
            @Html.EditorFor(model => model.Club.NoOfCourts)
            @Html.ValidationMessageFor(model => model.Club.NoOfCourts)
        </div>       
        </div>

        <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field col-xs-6">
            @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.City)
        </div>
        </div>

        <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.State)
        </div>
        <div class="editor-field col-xs-6">
            @Html.TextBoxFor(model => model.State, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.State)
        </div>
        </div>

        <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.Country)
        </div>
        <div class="editor-field col-xs-6">
            @Html.TextBoxFor(model => model.Country, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Country)
        </div>
        </div>
        <div class="padtop10">
        <p>
            <input class="btn btn-primary" type="submit" value="Create" />
        </p>
        </div>
    </fieldset>
}
</div>
</div>
